
// Colors
// --------------

// Primary Colors
$blue:  #183d68;
$beige: #C5a981;
$white: #fff;
$black: #000;
$text-color: lighten($blue, 12%);

// Secondary colors
$blue-gray: #e7ebef;
$blue-light: #f7fafd;
$blue-disable: #748ba4;
$blue-second: #466486;
$beige-light: #f3eee6;

// Errors
$disable-gray: #E8E8E8;
$error: #96281B;
$error-dark-bg: #E26A6A;
