@import 'variables';

* { margin: 0px; padding: 0px; border: none; }
ul, li { list-style: none; }

.navbar{
	.logo {
		background: $logo;
		width: 204px;
		height: 59px;
		background-repeat: no-repeat;
		margin: 10px -3px;
		float: left;
	}
	ul {
		margin-top: 30px;
		li {
			display: inline;
			&:first-child { margin-right: 40px; }
			input {
				display: inline;
				width: auto;
			}
		}
	}
}
.navbar.menu {
	position: fixed;
	top: 80px;
	width: 100%;
	.navbar-collapse {
		margin: 0 105px;
		ul {
			margin-top: 0px;
			li:first-child { margin: 0px;}
		}
	}
} 


.container.main {
	margin-top: 145px;
}	

/* CAROUSEL */
.photos-wrap {
	background: #000;
	width: 100%;
	height: 300px;
	overflow: hidden;
	position: inherit!important;
		ul.photoItemWrap{
			width: 1920px;
			height: 100%;
			margin: 0 auto;
				li {
					//width: 100%;
					height: 100%;
					float: left;
					background-repeat: no-repeat;
					border-radius: 6px;
					position: inherit;
						img {
							//width: 100%;
							margin: 0 auto;
						}
				}
		}
}

.box-photos {
	a { position: inherit; 
		img{
			background-repeat: no-repeat;
			width: 100%;
			height: 100%;
		}
	}		
} 


