{{partial "photo"}}

<section class="box-photos">
  <h2>Last voted Artists</h2>
  <div class="row">
    {{#each item in photos}}
      <a href="#" class="img-thumbnail col-md-4">
          <img {{bind-attr src=item.imageUrl}} alt=""/>
      </a>
    {{/each}}
  </div>
</section>

<section class="box-photos">
  <h2>New Artists</h2>
  <div class="row">
    {{#each item in photos}}
      <a href="#" class="img-thumbnail col-md-4">
          <img {{bind-attr src=item.imageUrl}} alt=""/>
      </a>
    {{/each}}
  </div>
</section>



