<div class="row">
	<div class="photos-wrap col-md-12">
	    <ul class="photoItemWrap">
	        <li class="col-md-12"><img class="photoItem" {{bind-attr src=arrangedContent.imageUrl}} /> </li>
	        {{arrangedContent.imageTitle}}
	    </ul>
   </div>
   <div class="controlButtons">
        <button type="button" class="btn btn-default" {{action "prevPhoto"}}>Prev</button>
        <button type="button" class="btn btn-default" {{action "nextPhoto"}}>Next</button>
    </div>    
</div>